# Создано https://www.toptal.com/developers/gitignore/api/visualstudio
# Редактировать в https://www.toptal.com/developers/gitignore?templates=visualstudio

### VisualStudio ###
## Игнорировать временные файлы Visual Studio, результаты сборки и
## файлы, созданные популярными дополнениями Visual Studio.
##
## Получать последние версии из https://github.com/github/gitignore/blob/main/VisualStudio.gitignore

# Пользовательские файлы 
*.rsuser 
*.suo 
*.user 
*.userosscache 
*.sln.docstates

# Пользовательские файлы (MonoDevelop /Xamarin Studio)
*.пользовательские настройки

# Автоматически сгенерированные файлы Mono 
mono_crash.*

# Результаты сборки
[Dd] ebug/
[Dd] ebugPublic/
[Rr] elease/
[Rr] eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Мм]/
[Aa][Rr][Мм]64/
bld/
[Bb]в/
[Oo] bj/
[Ll] og/
[Ll]ogs/

# Каталог кэша / параметров Visual Studio 2015/2017 
.vs/
# Раскомментируйте, если у вас есть задачи, которые создают статические файлы проекта в wwwroot
#wwwroot/

# Автоматически сгенерированные файлы Visual Studio 2017
Сгенерированные\ Files/

# Результаты теста MSTest
[Tt] est[Rr] результат*/
[Bb]uild[Ll]og.*

# NUnit 
*.VisualState.xml
TestResult.xml 
nunit-*.xml

# Результаты сборки проекта ATL
[Dd] ebugPS/
[Rr] eleasePS/
dlldata.c

# Результаты тестирования
BenchmarkDotNet.Артефакты/

# .NET Core 
project.lock.json
project.fragment.lock.json 
артефакты/

# ASP.NET Строительные леса
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Файлы, созданные Visual Studio 
*_i.c 
*_p.c 
*_h.h 
*.подобный 
*.meta 
*.obj 
*.iobj 
*.pch 
*.pdb
*.ipdb 
*.pgc
*.pgd 
*.rsp
*.sbr 
*.tlb
*.tli 
*.tlh 
*.tmp
*.tmp_proj
*_wpftmp.csproj 
*.log 
*.tlog 
*.vspscc 
*.vssscc 
.сборки 
*.pidb 
*.svclog 
*.scc

# Тестовые файлы Chutzpah
_Chutzpah*

# Файлы кэша Visual C ++ 
ipch/
*.точки доступа 
*.ncb
*.opendb 
*.opensdf 
*.sdf 
*.файл кэша 
*.VC.db 
*.VC.VC.opendb

# Профилировщик Visual Studio 
*.psess 
*.vsp 
*.vspx
*.sap

# Файлы трассировки Visual Studio 
*.e2e

# Локальное рабочее пространство TFS 2012
$ tf/

# Инструментарий автоматизации руководства 
*.gpState

# ReSharper - это надстройка для .NET-программирования
_ReSharper*/
*.[Rr] e [Ss]harper
*.DotSettings.user

# TeamCity - это надстройка для сборки
_TeamCity*

# dotCover - это инструмент для покрытия кода 
*.dotCover

# AxoCover - это инструмент для покрытия кода 
.axoCover/*
!.axoCover/settings.json

# Coverlet - это бесплатный кроссплатформенный инструмент для покрытия кода 
покрытие *.json 
покрытие *.xml 
покрытие *.info

# Результаты покрытия кода Visual Studio 
*.покрытие 
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose 
*.мм.* 
AutoTest.Net/

# Веб-верстак (sass)
.sass-кэш/

# Папка вывода Installshield
[Ee]xpress/

# DocProject - это надстройка для генератора документации
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Справка/*.HxC
DocProject/Справка/*.hhc
DocProject/Справка/*.hhk
DocProject/Справка/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Каталог с одним щелчком мыши 
опубликовать/

# Опубликовать веб-выходные данные 
*.[Pp]ublish.xml 
*.azurePubxml
# Примечание: Прокомментируйте следующую строку, если вы хотите проверить настройки веб-развертывания,
# но строки подключения к базе данных (с потенциальными паролями) будут незашифрованными 
*.pubxml
*.publishproj

# Настройки публикации веб-приложения Microsoft Azure. Прокомментируйте следующую строку, если хотите
# проверьте настройки публикации веб-приложения Azure, но конфиденциальная информация, содержащаяся
# в этих сценариях, будет незашифрованной
PublishScripts/

# Пакеты NuGet 
*.nupkg
# Пакеты символов NuGet
*.snupkg
# Папка packages может быть проигнорирована из-за восстановления пакета
**/[Pp]ackages/*
# за исключением build/, который используется в качестве целевого объекта MSBuild.
!**/[Pp]ackages/build/
# При необходимости раскомментируйте, однако обычно он будет восстановлен при необходимости
#!**/[Pp]учетные записи/репозитории.config
# Файлы project.json NuGet v3 создают больше игнорируемых файлов 
*.nuget.props 
*.nuget.targets

# Выходные данные сборки Microsoft Azure 
csx/
*.build.csdef

# Эмулятор Microsoft Azure 
ecf/
rcf/

# Каталоги и файлы пакетов приложений Windows Store
Пакеты приложений/
BundleArtifacts/
Пакет.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle 
*.appxupload

# Файлы кэша Visual Studio
# файлы, заканчивающиеся на .cache, можно игнорировать 
*.[Cc]ache
# но следите за каталогами, заканчивающимися на .cache 
!?*.[Cc]ache/

# Другие
ClientBin/
~$* 
*~ 
*.dbmdl 
*.dbproj.schemaview 
*.jfm
*.pfx
*.настройки публикации 
orleans.codegen.cs

# Включение файлов со строгими именами может представлять угрозу безопасности
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Поскольку существует несколько рабочих процессов, раскомментируйте следующую строку, чтобы игнорировать bower_contents
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_contents/

# Проекты RIA/Silverlight
Сгенерированный код/

# Резервное копирование файлов и создание отчетов в результате преобразования старого файла проекта
# в более новую версию Visual Studio. Файлы резервных копий не нужны, 
# потому что у нас есть git ;-)
_UpgradeReport_Files/
Резервное копирование*/
Список обновлений *.XML
Список обновлений *.htm
ServiceFabricBackup/
*.rptproj.bak

# Файлы SQL Server 
*.mdf 
*.ldf 
*.ndf

# Проекты бизнес-аналитики 
*.rdl.данные 
*.bim.макет
*.bim_*.настройки
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb] подтверждение ([0-9][0-9]).rdl

# Подделки Microsoft
Поддельные сборки/

# Файл настроек плагина GhostDoc 
*.GhostDoc.xml

# Node.js Инструменты для Visual Studio 
.ntvs_analysis.dat 
node_modules/

# Журнал сборки Visual Studio 6 
*.plg

# Файл параметров рабочей области Visual Studio 6 
*.opt

# Автоматически сгенерированный файл рабочей области Visual Studio 6 (содержит, какие файлы были открыты и т.д.)
*.vbw

# Автоматически сгенерированный файл проекта Visual Studio 6 (содержит, какие файлы были открыты и т.д.)
*.vbp

# Рабочая область Visual Studio 6 и файл проекта (рабочие файлы проекта, содержащие файлы для включения в проект)
*.dsw 
*.dsp

# Технические файлы Visual Studio 6

# Вывод сборки Visual Studio LightSwitch 
**/*.HTMLClient/GeneratedArtifacts 
**/*.DesktopClient/GeneratedArtifacts 
**/*.DesktopClient/ModelManifest.xml 
**/*.Сервер/созданные произведения 
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Диспетчер зависимостей пакетов 
.paket/paket.exe
файлы пакетов/

# ПОДДЕЛЬНЫЙ - F# Создать 
.поддельный/

# Личные настройки CodeRush 
.cr/personal

# Инструменты Python для Visual Studio (PTVS)
__pycache__/
*.pyc

# Cake - Раскомментируйте, если вы его используете
# tools/**
# !tools/packages.config

# Tabs Studio 
*.tss

# Конфигурационный файл JustMock от Telerik 
*.jmconfig

# Выходные данные сборки BizTalk 
*.btp.cs 
*.btm.cs 
*.odx.cs 
*.xsd.cs

# Результаты анализа пользовательского интерфейса OpenCover
Открытая обложка/

# Вывод локального запуска Azure Stream Analytics
ASALocalRun/

# Двоичный и структурированный журнал MSBuild 
*.binlog

# Файл конфигурации графического отладчика NVIDIA Nsight 
*.nvuser

# Рабочая папка MFractors (средство повышения производительности Xamarin) 
.mfractor/

# Локальная история для Visual Studio 
.localhistory/

# Файлы истории Visual Studio (VSHistory) 
.vshistory/

# Временная база данных проверки работоспособности BeatPulse 
база данных проверки работоспособности

# Папка резервной копии для инструмента преобразования ссылок на пакеты в Visual Studio 2017
Резервное копирование миграции/

# Рабочая папка Ionide (кроссплатформенный F # VS Code tools) 
.ionide/

# Fody - автоматически сгенерированная XML-схема
FodyWeavers.xsd

# Файлы VS Code для тех, кто работает с несколькими инструментами 
.vscode/*
!.vscode/настройки.json 
!.vscode/задачи.json 
!.vscode/запуск.json 
!.vscode/расширения.json 
*.code-рабочее пространство

# Локальная история кода Visual Studio 
.история/

# Файлы установщика Windows из выходных данных сборки 
*.cab
*.msi
*.msix 
*.msm
*.msp

# JetBrains Rider 
*.sln.iml

### Исправление VisualStudio ###
# Дополнительные файлы, созданные Visual Studio

# Конец https://www.toptal.com/developers/gitignore/api/visualstudio